/* Webfont: Swiss721-Medium */@font-face {
    font-family: 'SwissMed';
    src: url('Swiss721-Medium.eot'); /* IE9 Compat Modes */
    src: url('Swiss721-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Swiss721-Medium.woff') format('woff'), /* Modern Browsers */
         url('Swiss721-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Swiss721-Medium.svg#Swiss721-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Swiss721BT-Roman */@font-face {
    font-family: 'Swiss';
    src: url('Swiss721BT-Roman.eot'); /* IE9 Compat Modes */
    src: url('Swiss721BT-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Swiss721BT-Roman.woff') format('woff'), /* Modern Browsers */
         url('Swiss721BT-Roman.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Swiss721BT-Roman.svg#Swiss721BT-Roman') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
  font-family: 'Swiss';
  font-size: 18px;
  line-height: 20px;
  color: #373636;
  background-color: #fff !important;
}

#overview {
  background: rgba(0,0,0,0) !important;
  border-bottom: 1px solid #373636;
  padding: 10px;
  margin: 0;
  }

  #thumbs span {
    color: #373636;
    font-size: 18px;
  }

  #thumbs td {
    padding: 0;
  }

  #cost, #order-num {
    font-family: 'SwissMed';
    color: #373636;
    text-shadow: none;
    font-size: 50px;
    display: block;
    /* margin-top: 0; */
    vertical-align: center;
    margin-bottom: -2%;
    margin-top: 10%;
  }

  #steps {
    /* margin-top: 10px; */
    letter-spacing: .75px;
    font-size: 10px;
    font-family: 'SwissMed', sans-serif;
    font-style: normal;
    /* margin: 0; */
    text-transform: uppercase;
    /* padding-top: 0; */
  }

  h3 {
    font-size: 18px;
    color: #373636;
  }

  #thumbs div {
    padding: 1px;
    margin: 0 10px 0 0;
    border: none;
    float: left;
    color: #FFF !important;
    text-align: center;
  }

  #thumbs h3 {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: .75;
    letter-spacing: 1px;
  }

  #thumbs span {
    color: #FFF;
    font-size: 14px;
    line-height: 16px;
  }

  #email {
    line-height: 100%;
    background-color: #fff;
    border: none;
    padding: 10px 0;
    margin: 10px 0;
  }
  #email input {
    padding: 4px;
  }

#email label {
  display: block;
  margin-bottom: 7px;
  font-size: 20px;
}

label {
  font-weight: normal;
  font-size: 14px;
}

#products {
  border-right: 1px solid #373636;
}

input {
  padding: 0;
  margin: 0;
  border: 1px solid;
}

#addresses {
  background: #FFF;
  height: auto;
  padding: 0;
  margin: 0;
}

input[type=text], input[type=password], textarea {
   border: 1px solid #373636;
   padding: 2px;
   height: 20px;
   font-size: 12px;
   color: #046CC6;
}

.form td.lbl {
  height: 30px;
}


.group h3 {
  font-size: 20px;
  border-bottom: none;
}


.group {
  border: none!important;
  background-color: #fff;
}

body {
  background-color: #f0f0f0;
  font-family: 'SwissMed', sans-serif;
}

span.sign-in-message {
  font-size: 12px;
  margin: 10px 0;
  display: block;
}

.field-with-errors .error-message {
  color: #EA1D1D;
  font-weight: normal;
}

.field-with-errors {
  background-color: #FFF;
  border: none;
  padding: 0;
  line-height: 140%;
  color: #EA1D1D!important;
}

.field-with-errors input {
  border: 1px solid #B30905;
}


.address-notification {
  background: none;
  border: 1px solid #046CC6;
  color: #046CC6;
  text-align: center;
  padding: 5px;
}


a {
  color: #045CC6;
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

a:hover {
  color: #373636;
  text-decoration: none;
}


#overview .hint {
  color: #373636;
  font-style: normal;
  font-size: 12px;
}


#container.slim #header {
  width: 430px;
  background: rgba(0, 0, 0, 0);
}

#container.slim #main {
  width: 413px;
  padding: 0 15px;
  background: #FFF;
}

#container {
  font-size: 16px;
  /*width: auto;*/
  margin: 0 auto;
}

#main {
  width: 776px;
  background-color: #FFF;
  padding: 0 13px;
  background: rgba(0,0,0,0);
}

#header {
  width: 792px;
  padding: 8px 5px;
  background: rgba(0, 0, 0, 0);
}


#container.slim #footer {
  width: 430px;
  background: rgba(0, 0, 0, 0);
}

#footer {
  width: 792px;
  padding: 25px 5px 10px 5px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  color: #888;
  font-size: 80%;
}


#buttons {
  /* border-bottom: 1px solid #CCC; */
  padding: 12px 10px;
  background: #fff;
  border-bottom: none;
  margin: 0;
}


#buttons input {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  padding: 4px;
}

button#create-account-btn {
  border: 1px solid;
  background-color: #FFF;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  font-family: 'SwissMed', arial, sans-serif;
}


h1 {
  font-size: 36px;
  display: block;
  color: #000;
  line-height: 120%;
  text-align: center;
  margin-bottom: 34px;
  font-size: 32px;
  line-height: 28px;
  font-weight: normal;
  letter-spacing: 4px;
  border-bottom: none;
  text-transform: uppercase;
  margin-bottom: 2px;
}

h1 span.subtitle {
  /* font-size: 50%; */
  line-height: 110%;
  color: #373636;
  font-size: 26px;
}


#overview {
  background-color: #373636 !important;
  /* border-bottom: 1px solid #373636; */
  padding: 40px;
  margin: 20px 0;
  /* color: #FFF; */
}

#overview h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #FFF;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}

#thumbs h3 span {
  color: #045CC6;
  font-size: 90%;
}

#thumbs {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}

button#create-account-btn:hover{
  background-color: #f0f0f0 !important;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

input {
  padding: 0;
  margin: 0;
  border: 1px solid #373636;
  background-color: #FFF;
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
  font-family: 'SwissMed', arial, sans-serif;
}


input:hover{
  background-color: #f0f0f0 !important;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}


.flash.error {
  background: #FFF;
  border: 1px solid #045CC6;
  color: #045CC6;
  font-size: 16px;
  margin-bottom: 50px;
}


h1 span.subtitle {
  display: none;
}

#steps {
  display: none;
}
/*yellow flashing disapears*/
#wallet {
  display: none;
}

#products {
  border: none;
}

#cost, #order-num {
  display: none;
}
